@{
    ViewData["Title"] = "Интернет-магазин на C#";
}

<p>
    Если вы молодой программист и у вас не очень много опыта, некоторые темы в современном программировании могут показаться вам слишком абстрактными.
</p>
<p>
    Например, такие, как паттерны проектирования или принципы SOLID.
    Когда меня спрашивают про SOLID, я понимаю, что все короткие ответы меня не удовлетворяют. В то же время, работая в команде, я могу рассказывать младшим программистам об абстракциях на примере нашего собственного кода. Такие рассказы гораздо доходчивее.
</p>
<p>
    Промышленная разработка — лучшая ситуация для обучения, если вам повезло с проектом, командой и тим-лидом. Но что делать, если не повезло?
</p>
<p>
    В московском клубе программистов регулярно делают доклады на тему паттернов, DDD, SOLID. К сожалению, они носят слишком обзорный характер.о-первых, продолжительность доклада всего сорок минут; а во-вторых, этот формат не позволяет раскрывать детали.
</p>
<p>
    Нужен совместный проект, в котором можно столкнуться реальными проблемами и решать их, попутно осваивая теорию. Проект должен быть достаточно условным и учебным, чтобы за деревьями мы не потеряли лес — наша задача не в запуске программы, а в том, чтобы научиться.
</p>

<h3>Проект</h3>
<p>
    В качестве учебного проекта мы возьмём книжный интернет-магазин. Каждый из нас покупал книги в интернете и хорошо представляет предметную область. Нам не придётся пару недель разбираться в том, что мы хотим сделать.
</p>
<p>
    С другой стороны, интернет-магазин уже достаточно велик и практичен, чтобы мы могли столкнуться с проблемами и понять, как абстрактные знания помогают их решать.
</p>

<h2>Формат</h2>
<p>
    Место обучения: Zoom
</p>
<p>
    Длительность занятия: 1,5 часа
</p>
<p>
    Расписание занятий: каждый вторник с 19:00 до 20:30, начиная с 28 апреля (28.04, 05.05, 12.05, 19.05, 26.05, 02.06, 09.06, 16.06).
</p>
<p>
    Продолжительность: 8 встреч, то есть полный курс займёт два месяца.
</p>
<p>
    По согласованию с участниками, количество встреч может быть изменено.
</p>
<p>
    Курс бесплатный и это накладывает ограничение на участников. Вам должно быть интересно учиться. И вы должны помогать друг другу.
</p>
<p>
    Что конкретно будет происходить:
</p>
<ol>
    <li>Мы будем обсуждать задачи и их решения.</li>
    <li>Мы будем обсуждать задачи и их решения.</li>
    <li>Я буду расшаривать экран и писать код, попутно объясняя, что и зачем я делаю.</li>
    <li>Я буду отвечать на вопросы.</li>
    <li>Весь урок будет записан и выложен в YouTube, так что вы сможете позже просмотреть его и поэкспериментировать с кодом самостоятельно.</li>
</ol>

<h3>Темы</h3>
<ul>
    <li>C#</li>
    <li>SQL</li>
    <li>git и GitHub</li>
    <li>Agile: бэклог, пользовательские истории, итерации</li>
    <li>Модульное тестирование</li>
    <li>Паттерны проектирования</li>
    <li>Принципы SOLID</li>
    <li>DDD (Domain Driven Design)</li>
    <li>ASP.NET MVC</li>
    <li>Entity Framework</li>
</ul>
<p>
    У нас интернет-магазин, поэтому, конечно, нам придётся использовать HTML, CSS и JavaScript. Я не планирую глубоко погружаться в эти темы, в том числе потому, что не специализируюсь на них и глубоко не разбираюсь.
</p>

<h3>Пожелания</h3>
<p>
    Не всем этот курс может быть полезен. Если вы хотите научиться программировать с нуля, этот курс окажется слишком сложным. Если вы старший программист, то вряд ли узнаете что-то новое.
</p>
<p>
    Курс подойдёт вам, если вы программируете несколько лет и знаете два-три языка программирования. Хорошо, если один из этих языков является наследником C, то есть это C , C#, Java, PHP, JavaScript.
    Важно, чтобы вы понимали основы объектно-ориентированного программирования, чтобы вас не пугали термины класс, объект и наследование.
</p>
<p>
    Разработка будет вестись в Visual Studio 2019 Community Edition. Это бесплатная IDE от Microsoft, которая работает под Windows. Её можно запустить на MacOS. Разрабатывать код можно будет и под Linux в вашем любимом редакторе. У меня нет опыта в разработке под MacOS и Linux, поэтому, если что-то не пойдёт не так, я возможно не смогу вам помочь.
</p>
<p>
    <a href="https://www.youtube.com/watch?v=L2OC525fkGk&list=PLfkikHwnACaXxUu9YGnQQp7VEYcMmuBuq">Видео-записи занятий</a>.
</p>