@{
    ViewData["Title"] = "Home Page";
}

<form action="/search" method="get">
    <input type="text" name="query" value="" />
    <button type="submit">Найти</button>
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
