@{
    ViewData["Title"] = "Заказ оформлен";
}

<p>
    Заказ оформлен. Мы собираем его, чтобы передать в службу доставки.
    Ждите SMS.
</p>
<p>
    <a href="@Url.Action("Index", "Home")">Вернутся в магазин</a>.
</p>